.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    font: inherit;
    outline: none;
    background-color: white;
    border: 1px solid rgb(163, 161, 161);
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
}

.InputElement :focus {
    background-color: #ccc;
    font-weight: bold;
    outline: none;
}

.Invalid {
    border: 1px solid red;
}

.ValidationError {
    color: red;
    margin: 5px 0;
}